# First we ignore all folders & files.
# After that we ignore the file types & more.
.github/
.idea/

.gitignore
LICENSE

*.md
*.yml
**/*_test.go

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor.protogen/

# env file
.env
.env.local
.env.stage
.env.prod

# Go workspace file
go.work
go.work.sum

# Tests coverage
coverage.*

# air tmp directory
tmp/

# Docker
Dockerfile
docker-compose.yaml

# Binary
bin/

# API
api/
